<div class="container-big-card">
    <div class="big-card-image">
        <img src="https://picsum.photos/450/200" alt="" height="200px">
    </div>    

    <div class="big-card-title">
        <h1><a href="#">Nova versão do FALKSON Blog</a></h1>
    </div>

    <div class="big-card-text">
        <p>
            <a href="http://">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ullam aut possimus eius omnis et mollitia rem similique adipisci molestiae, nobis dicta quasi explicabo qui accusamus error voluptates illum animi.
            </a>
        </p>
    </div>
</div>