<div class="container-small-card">
    
    <div class="container-small-card-content">
        <div class="small-card-text">
            <img src="{{photoCover}}" alt="" height="100" srcset="">
        </div>
        <div class="small-card-title">
            <h1><a href="#">{{cardTitle}}</a></h1>
            <!-- <h1><a href="#">Uma coisa nova, está acontecendo, você deve ficar esperto!</a></h1> -->
        </div>
    </div>
    
    <div class="container-small-card-separator">
        <hr>
    </div>
</div>