<div class="container-content">
    <a [routerLink]="['']"><< VOLTAR</a>
    <div class="content-cover">
        <img src="https://picsum.photos/850/350" alt="">
    </div>
    <div class="content-title">
        <h1>NOTICIA SUPER IMPORTANTE</h1>
        <hr>
    </div>
    <div class="content-text">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid explicabo ipsum tempore iste ducimus nulla debitis corrupti pariatur reprehenderit maxime cumque officia odio quos, tempora amet itaque laboriosam perspiciatis at?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis est natus cumque aliquam quidem recusandae voluptates vero eveniet amet quis totam in iusto dolores, nulla ad vel sapiente similique fugiat.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officia voluptas optio veritatis delectus! Eos saepe quisquam, quae incidunt exercitationem nesciunt id totam corrupti voluptatibus earum corporis reprehenderit dolores ab?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error autem, ducimus beatae minus dicta cumque minima culpa nemo cupiditate eum. Eligendi laboriosam quae consequuntur vel ad deleniti sunt fugiat minima.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae fugit cumque itaque assumenda impedit ullam repellendus libero laboriosam, doloremque debitis placeat reprehenderit minus nemo velit, nisi enim similique aspernatur iste.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus alias officia, quo magni iste iure fugiat eos perferendis corrupti ut laborum repellat ad enim debitis eligendi hic at ullam ipsum.
        </p>
    </div>
</div>