<header>
    <app-menu></app-menu>
</header>

<app-blog-title title="FALKSON BLOG"></app-blog-title>

<div class="container-articles">
    
    <div class="articles_main">
        <app-big-card
            photoCover="https://picsum.photos/450/200"
            cardTitle="Nova Versão do FALKSON Blog"
            cardText="Essa nova versão tá incrível em? Quem diria que os componentes fariam a diferença? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ullam aut possimus eius omnis et mollitia rem similique adipisci molestiae, nobis dicta quasi explicabo qui accusamus error voluptates illum animi."
        ></app-big-card>
    </div>

    <div class="articles_others">
        <app-small-card
            photoCover="https://picsum.photos/150/100"
            cardTitle="Uma coisa nova, está acontecendo, você deve ficar esperto!"
        ></app-small-card>
        
        <app-small-card
            photoCover="https://picsum.photos/150/99"
            cardTitle="Uma coisa nova, NÃO está acontecendo, você NUNCA deve ficar esperto!"
        ></app-small-card>

        <app-small-card
            photoCover="https://picsum.photos/150/101"
            cardTitle="Ficar esperto é coisa do passado, o mundo é dos desligados!"
        ></app-small-card>


        
    </div>

</div>
