<div class="container-menu">
    <div class="profile">
        <img src="https://github.com/felipefalkiner.png" alt="Hey, this is me!">
    </div>
    
    <ul>
        <li><a href="https://www.linkedin.com/in/felipefalkiner/" target="_blank">LinkedIn</a></li>
        <li><span>•</span></li>
        <li><a href="https://github.com/felipefalkiner" target="_blank">Github</a></li>
        <li><span>•</span></li>
        <li><a href="https://www.youtube.com/FelipeFalkiner" target="_blank">YouTube</a></li>
    </ul>
</div>