.container-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.profile {
  margin-right: 15px;
}

.profile img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.container-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.container-menu ul li {
  margin-right: 10px;
}

.container-menu ul li a:hover {
  color: blue;
}
